:root {
  --detalles:#E6D55C;
  --main-bg-color: brown;
  }

.form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .box {
    position: relative;
    width:400px;
    height: 440px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }

  .boxSignUp {
    position: relative;
    width:400px;
    height: 500px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }

  .box::before,
  .boxSignUp::before{
    content:'';
    position: absolute;
    top:-50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,var(--detalles),var(--detalles));
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
  }

  .box::after,
  .boxSignUp::after{
    content:'';
    position: absolute;
    top:-50%;
    left: -50%;
    width: 380px;
    height: 440px;
    background: linear-gradient(0deg,transparent,var(--detalles),var(--detalles));
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }

  @keyframes animate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform:rotate(360deg);
    }
  }

.form {
  position: absolute;
  inset: 3px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
}

.form h1 {
  color : var(--detalles);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
  width: 250px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1em;
  color:black;
  letter-spacing: 0.05em;
  font-weight: 500;
  z-index: 10;
}

.inputBox label{
  position:absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: var(--detalles);
  pointer-events: none;
  letter-spacing: 0.05rem;
  transition: 0.5s;
  background-color: transparent;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label{
  transform: translateY(-30px);
  color: (var(--detalles));
  font-size: 0.8em;
}

.inputBox i{
  position:absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--detalles);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i{
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links a {
  margin-top: -10px;
  margin-bottom: 30px;
  font-size: 0.75em;
  color: rgb(181, 181, 181);
  text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
  color: var(--detalles);
}

.form-signin button {
  position: relative;
  width: 100%;
  padding: 11px 25px;
  margin-top: 20px;
  border: none;
  outline: none;
  color: #1c1c1c;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}